$body-bg: #f6f5f8;
$font-family-sans-serif: 'Quicksand', sans-serif;
$font-size-base: 0.85rem;
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;
$link-color: #A8369B;
$nav-link-disabled-color: #bcbcbc;
$table-cell-padding: 0.5rem;
$navbar-light-color: #ffffff;

$brand-pink: #A8369B;
$brand-purple: #392C70;
$brand-grey: #858585;
$brand-grey-highlight: #dddcdf;

$theme-colors: (
  "dark": $brand-purple
);

@import "../../public/node_modules/bootstrap/scss/bootstrap";

/*// Required for Bootstrap
@import "../../public/node_modules/bootstrap/scss/functions";
@import "../../public/node_modules/bootstrap/scss/variables";
@import "../../public/node_modules/bootstrap/scss/mixins";

// Optional Bootstrap files
@import "../../public/node_modules/bootstrap/scss/reboot";
@import "../../public/node_modules/bootstrap/scss/type";
@import "../../public/node_modules/bootstrap/scss/images";
@import "../../public/node_modules/bootstrap/scss/code";
@import "../../public/node_modules/bootstrap/scss/grid";*/

html, body {
    height: 100%;
}

.preview {
    background-color: #392C70;
    border-bottom: 1px solid #000000;
}
.preview p {
    font-size: 0.8rem;
    margin: 0.2rem 0 0.2rem 0;
    color: #F5F5F8;
}
.preview p a {
    color: #F250E2;
}

.container-cte {

    .container-row {

        .container-left {
            background-color: $white;
            background-image: url("../images/theme/left-sidebar.png");
            background-repeat: no-repeat;
            background-size: 100% auto;

            .logo {
                margin-top: 5rem;
                margin-bottom: 3rem;
            }

            li.nav-item {

                a {
                    color: #404040;

                    &:hover {
                        color: $brand-pink;
                    }
                }

                a.active {
                    background-color: #f6f5f8;
                    color: $brand-pink;
                    margin-right: -15px;
                    margin-left: -15px;
                    padding-left: 32px;
                }

                a.nav-link.icon {

                    img {
                        margin-right: 1rem;
                    }
                }

                span.nav-title {
                    padding: 0.5rem 1rem;
                    display: block;
                    font-weight: $font-weight-bolder;
                }
            }
        }

        .container-right {

            padding-top: 15px;

            .screen-intro {

                .icon {
                    width: 50px;
                    height: 50px;
                    margin: 0.8rem 0.8rem 0.8rem 0;
                    float: left;
                }
                .welcome {
                    padding-top: 0.5rem;
                }
                .title {

                }
            }

            nav.navbar {
                padding-top: 0;

                li.nav-item {

                    a {
                        color: #404040;
                    }

                    a.active {
                        color: $brand-pink;
                    }

                    a.nav-link.icon {

                        img {
                            margin-right: 1rem;
                        }
                    }

                    span.nav-title {
                        padding: 0.5rem 1rem 0.5rem 0;
                        display: block;
                        font-weight: $font-weight-bolder;
                    }
                }
            }

            .summary-block {
                background-color: $white;
                padding: 1rem;
                border-radius: 0.5rem;

                p.total {
                    font-size: 1.6rem;
                    font-weight: $font-weight-bolder;
                    color: $black;
                }
            }

            .summary-block.active {
                border: 1px solid $brand-pink;
            }

            .detail-page-intro {
                margin-top: 1rem;

                h5 {
                    margin-bottom: 0;
                }

                p.sub-heading {
                    font-size: 0.8rem;
                    margin-bottom: 0;
                    line-height: 1;
                }

                p.data {
                    font-size: 1.2rem;
                    font-weight: $font-weight-bolder;
                    color: $black;
                }
            }

            .white-container {
                background-color: white;
                border-radius: 0.5rem;
                border-top: none;

                table {
                    margin-bottom: 0;

                    th {
                        color: #bcbcbc;
                        font-size: 0.8rem;
                        font-weight: normal;
                    }

                    tr.top {
                        border-top: 1px solid #f2f2f2;
                    }

                    span.category {
                        font-size: 0.7rem;
                        font-weight: bold;

                        a {
                            color: #392C70;
                        }
                    }

                    span.subcategory {
                        font-size: 0.7rem;

                        a {
                            color: #392C70;
                        }
                    }
                }
            }

            .no-radius-top {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            div.table-pagination {

                a.btn-primary {
                    color: #000000;
                    border-radius: 1rem;
                    border: 1px solid #DADADA;
                    background-color: #F6F5F8;

                    &:hover {
                        background-color: #DADADA;
                        border: 1px solid #bebebe;
                    }
                }

                a.active {
                    background-color: $brand-pink;
                    color: #ffffff;

                    &:hover {
                        background-color: $brand-pink;
                        color: #ffffff;
                    }
                }
            }

            form.filter-options {

                button {
                    background-color: $brand-purple;
                    border-color: $brand-purple;
                    border-radius: 1rem;
                }
            }

            div.filter-summary {
                display: inline-block;
                background-color: $brand-pink;
                color: white;
                border: 1px solid $brand-pink;
                border-radius: 0.3rem;
                padding: 0.3rem 0.5rem;
                margin: 0 0.2rem 0.2rem 0;

                a {
                    color: white;
                    text-decoration: none;
                }

                span.badge {
                    font-size: 100%;
                    margin-left: 0.5rem;
                }
            }

            div.assigned-filters {

                div.assigned-filter {
                    display: inline-block;
                    background-color: white;
                    color: $brand-purple;
                    border: 1px solid $brand-purple;
                    border-radius: 0.3rem;
                    padding: 0.3rem 0.5rem;
                    margin: 0 0.2rem 0.2rem 0;

                    a {
                        color: $brand-purple;
                        text-decoration: none;
                    }

                    span.badge {
                        font-size: 100%;
                        margin-left: 0.5rem;
                    }
                }
            }

            table.api-requests {

                td {
                    word-break: break-word;
                }
            }

            p.footer {

                a {
                    color: $brand-pink;
                }
            }

            .content {
                font-size: 1.3rem;
                color: #404040;

                h2 {
                    font-size: 2rem;
                    color: #732877;
                }

                h3 {
                    font-size: 1.6rem;
                    color: #000000;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .container-right {

        .detail-page-intro {
            margin-top: 0 !important;

            p {
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .container-right {
        background-image: url("../images/theme/right-sidebar.png");
        background-repeat: no-repeat;
        background-position: top right;
        padding-top: 0.5rem !important;

        .screen-intro {
            margin-top: 2rem;
        }

        .navbar {
            padding: 0.5rem;

            .navbar-toggler {
                border: none;
            }
        }

        .detail-page-intro {
            margin-top: 0 !important;

            p {
                margin-bottom: 0.3rem;
            }
        }

        table.api-requests {
            td {
                font-size: 0.8rem;
            }
        }
    }
}

@media (max-width: 576px) {
    .container-right {

        .detail-page-intro {
            margin-top: 1rem !important;
        }

        table.api-requests {
            td {
                font-size: 0.7rem;
            }
        }
    }
}


