$body-bg: #f6f5f8;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;

@import "../../public/node_modules/bootstrap/scss/bootstrap";

/*// Required for Bootstrap
@import "../../public/node_modules/bootstrap/scss/functions";
@import "../../public/node_modules/bootstrap/scss/variables";
@import "../../public/node_modules/bootstrap/scss/mixins";

// Optional Bootstrap files
@import "../../public/node_modules/bootstrap/scss/reboot";
@import "../../public/node_modules/bootstrap/scss/type";
@import "../../public/node_modules/bootstrap/scss/images";
@import "../../public/node_modules/bootstrap/scss/code";
@import "../../public/node_modules/bootstrap/scss/grid";*/

html,body {
    height: 100%;
}

.container-cte {
    height: 100%;

    .container-row {
        height: 100%;

        .container-column {
            height: 100%;
        }

        .container-left {
            background-color: $white;
            height: 100%;
            background-image: url("../images/theme/left-sidebar.png");
            background-repeat: no-repeat;
            background-size: 100% auto;
        }

        .container-right {

        }
    }
}

@media (max-width: 768px) {
    .container-right {
        background-image: url("../images/theme/right-sidebar.png");
        background-repeat: no-repeat;
        background-position: top right;
    }

}


