$body-bg: #f6f5f8;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 0.85rem;
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;
$link-color: #939393;
$nav-link-disabled-color: #bcbcbc;
$table-cell-padding: 0.5rem;
$navbar-light-color: #ffffff;

$brand-purple: #A8369B;
$brand-grey: #858585;

@import "../../public/node_modules/bootstrap/scss/bootstrap";

/*// Required for Bootstrap
@import "../../public/node_modules/bootstrap/scss/functions";
@import "../../public/node_modules/bootstrap/scss/variables";
@import "../../public/node_modules/bootstrap/scss/mixins";

// Optional Bootstrap files
@import "../../public/node_modules/bootstrap/scss/reboot";
@import "../../public/node_modules/bootstrap/scss/type";
@import "../../public/node_modules/bootstrap/scss/images";
@import "../../public/node_modules/bootstrap/scss/code";
@import "../../public/node_modules/bootstrap/scss/grid";*/

html,body {
    height: 100%;
}

.container-cte {
    height: 100%;

    .container-row {
        height: 100%;

        .container-column {
            height: 100%;
        }

        .container-left {
            height: 100%;
            background-color: $white;
            background-image: url("../images/theme/left-sidebar.png");
            background-repeat: no-repeat;
            background-size: 100% auto;

            .logo {
                margin-top: 5rem;
                margin-bottom: 3rem;
            }

            li.nav-item {

                a.active {
                    background-color: #f6f5f8;
                    color: #404040;
                    margin-right: -15px;
                    margin-left: -15px;
                    padding-left: 32px;
                }

                a.nav-link.icon {

                    img {
                        margin-right: 1rem;
                    }
                }

                span.nav-title {
                    padding: 0.5rem 1rem;
                    display: block;
                    font-weight: $font-weight-bolder;
                }
            }
        }

        .container-right {
            overflow-y: scroll;
            padding-top: 15px;

            .screen-intro {

                .icon {
                    width: 50px;
                    height: 50px;
                    margin: 0.8rem 0.8rem 0.8rem 0;
                    float: left;
                }
                .welcome {
                    padding-top: 0.5rem;
                }
                .title {

                }
            }

            nav.navbar {
                padding-top: 0;

                li.nav-item {

                    a.active {
                        color: #000000;
                    }

                    a {
                        color: #939393;

                        &:hover {
                            color: #616161;
                        }
                    }

                    span.nav-title {
                        padding: 0.5rem 0rem;
                        display: block;
                        font-weight: $font-weight-bolder;
                    }
                }

                li.nav-item.active {
                    background-color: red;
                }
            }

            .summary-block {
                background-color: $white;
                padding: 1rem;
                border-radius: 0.5rem;

                p.total {
                    font-size: 1.6rem;
                    font-weight: $font-weight-bolder;
                    color: $black;
                }
            }

            .detail-page-intro {
                margin-top: 1rem;

                h5 {
                    margin-bottom: 0;
                }

                p.sub-heading {
                    font-size: 0.8rem;
                    margin-bottom: 0;
                    line-height: 1;
                }

                p.data {
                    font-size: 1.2rem;
                    font-weight: $font-weight-bolder;
                    color: $black;
                }
            }

            .white-container {
                background-color: white;
                border-radius: 0.5rem;
                border-top: none;

                table {
                    margin-bottom: 0;

                    th {
                        color: #bcbcbc;
                        font-size: 0.8rem;
                    }

                    tr.top {
                        border-top: 1px solid #f2f2f2;
                    }

                    span.category {
                        font-size: 0.7rem;
                        background-color: #f5f5f8;
                        border-radius: 0.3rem;
                        padding: 0.2rem 0.4rem;
                        color: #645a90;
                        font-weight: bold;
                    }
                }
            }

            table.api-requests {

                td {
                    word-break: break-word;
                }
            }

            p.footer {

                a {
                    color: #A8369B;
                }
            }

            .content {
                font-size: 1.3rem;
                color: #404040;

                h2 {
                    font-size: 2rem;
                    color: #732877;
                }

                h3 {
                    font-size: 1.6rem;
                    color: #000000;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .container-right {

        .detail-page-intro {
            margin-top: 0 !important;
        }
    }
}

@media (max-width: 768px) {
    .container-right {
        background-image: url("../images/theme/right-sidebar.png");
        background-repeat: no-repeat;
        background-position: top right;
        padding-top: 0.5rem !important;

        .screen-intro {
            margin-top: 2rem;
        }

        .navbar {
            padding: 0.5rem;

            .navbar-toggler {
                border: none;
            }
        }

        .detail-page-intro {
            margin-top: 0 !important;
        }
    }
}

@media (max-width: 576px) {
    .container-right {

        .detail-page-intro {
            margin-top: 1rem !important;
        }
    }
}


